<div class="alert alert-danger" role="alert">
  Please select topic from the left pannel to see the demo.
</div>

<hr />

<div fxLayout="column" fxLayoutGap="1rem">
  <div>
    <h2>Why Lodash?</h2>
    <p class="text-muted">Lodash makes JavaScript easier by taking the hassle out of working with arrays, numbers,
      objects, strings, etc.
      Lodash’s modular methods are great for:</p>

    <p class="text-muted ml-3">&#187; Iterating arrays, objects, & strings</p>
    <p class="text-muted ml-3">&#187; Manipulating & testing values</p>
    <p class="text-muted ml-3">&#187; Creating composite functions</p>

  </div>

  <div>
    <h2>Module Formats</h2>
    <p class="text-muted">Lodash is available in a variety of builds & module formats.</p>
    <p class="text-muted ml-3">&#187; lodash & per method packages</p>
    <p class="text-muted ml-3">&#187; lodash-es, babel-plugin-lodash, & lodash-webpack-plugin</p>
    <p class="text-muted ml-3">&#187; lodash/fp</p>
    <p class="text-muted ml-3">&#187; lodash-amd</p>

  </div>

  <div>
    <h2>Complementary Tools</h2>
    <p class="text-muted ml-3">futil-js is a set of functional utilities designed to complement lodash</p>
  </div>

  <div>
    <h2>Support</h2>
    <p class="text-muted ml-3">Tested in Chrome 74-75, Firefox 66-67, IE 11, Edge 18, Safari 11-12, & Node.js 8-12.</p>
  </div>

</div>
